[submodule "plugins/org-git-link"]
	path = plugins/org-git-link
	url = git://github.com/ReimarFinken/org-git-link.git
[submodule "plugins/org-ox-bbcode"]
	path = plugins/org-ox-bbcode
	url = https://github.com/Denommus/org-ox-bbcode
[submodule "plugins/ob-javascript"]
	path = plugins/ob-javascript
	url = git@github.com:zweifisch/ob-javascript.git
