games/
auto-save-list/
elpa/
ac-comphist.dat
.org-id-locations
session*
tetris-scores
*.elc
url/
tramp
.#*
eshell/
var/
semanticdb/
srecode-map.el
projectile.cache
projectile-bookmarks.eld
server/
bookmarks
flycheck_init.el
/abbrev_defs
ido.last
network-security.data
.emacs.desktop
quelpa/
elfeed.org
history
emojis/